# Ignore .env file
.env

# Ignore Notes file
notes

# Ignore virtual environment (can be reloaded via requirements.txt)
venv
UnderstoryVenv

# Ignore Loss Runs Folder
samples
loss_runs
merged_loss_runs.csv

# Ignore Output
textract_output.json